#workingData{
    width: 540px;
    height: auto;
}
#workingData button{
    outline: none;
    border: 1px solid #333;
    font-size: 0;
    color: transparent;
    height: 52px;
    width: 52px;
    margin: 18px;
    margin-bottom: 24px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}
#workingData button:hover{
    opacity: 0.8;
}
#workingData button::after{
    content: attr(colorData);
    position: absolute;
    background-color: black;
    color: white;
    font-size: 12px;
    text-shadow: none;
    padding: 6px;
    border-radius: 99px;
    transform: translate(-50%, 50%);
}
#workingData button::before{
    content: attr(clip);
    position: absolute;
    color: #000000;
    font-size: 16px;
    text-shadow: none;
    padding: 6px;
    border-radius: 99px;
    transform: translate(-50%, -170%);
}
.hideMe{
    opacity: 0.2;
}
h1{
    font-family: sans-serif;
    color: #333;
}
.flexDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
}
#workingData #allBtn{
    cursor: pointer;
    padding: 8px 16px;
    background-color: #e9e9e9;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    height: auto;
    width: auto;
    overflow: visible;
    border: none;
    box-shadow: none;
    transform: translateY(25%);
}
#workingData #allBtn::after{
    display: none;
}
#workingData #allBtn::before{
    transform: translate(0, -125%);
}
#allBtn:hover{
    background-color: #f0f0f0;
}